
    <div class="container">
        <h2>Please change your name</h2>
        <p>so we can recognize you the next time.</p>
        
        <form id="name-form">
            {% csrf_token %}
            <input type="text" id="name-input" value="{{ name.name }}" required>
            <a href="#" class="button cancel">Cancel</a>
            <button type="submit" class="button submit">Submit</button>
        </form>

        <!-- Notification Message -->
        <div id="notification" class="notification"></div>

        <div class="chat-promo">
            <p>Add free live chat to your site</p>
        </div>
    </div>

   